<!DOCTYPE html>
<html>
<head>
	<title>Amber's Laboratory</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="css/grayscale.css" rel="stylesheet">
</head>
<body id="page-top">
	<nav class="navbar navbar-custom navbar-fixed-top">nava</nav>
	<header class="intro">
		<div class="intro-body"><div class="container">
			<div class="row"><div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">Grayscale</h1>
				<p class="intro-text">infor ...</p>
				<a href="#about" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div></div>
		</div></div>
	</header>
	<section id="about" class="container content-section text-center">section about</section>
	<section id="download" class="content-section text-center">section download</section>
	<section id="contact" class="container content-section text-center">section contact</section>
	<div id="map">div map</div>
	<footer>footer</footer>
	
	
</body>
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script>
</script>
</html>